page-checkmoney {
    ion-content {
        background: #f7f7f7 !important;
        
            .profile-house {
                    background: #dce8fc !important;
                    border: 5px solid #488aff;
                    padding: 10px;
                    border-radius: 10px;
                    margin: 0 auto;
                }

                
            }
}
