<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        แอปพลิเคชันการประปา 
      </ion-title>
    </ion-navbar>
  </ion-header>
    
    <ion-content padding>
    <button ion-button block (click)="checkMeter()">ตรวจสอบบ้านที่ยังไม่ได้เก็บค่าน้ำ</button>
      <form novalidate [formGroup]="meterForm" (ngSubmit)="meter()">
          <ion-list>
            
              <ion-item>
                <ion-label stacked>บ้านเลขที่</ion-label>
                <ion-input formControlName="address" type="text"></ion-input>
              </ion-item>
            
              <ion-item>
                <ion-label stacked>หมู่ที่</ion-label>
                <ion-input formControlName="villageno" type="text"></ion-input> 
              </ion-item>
      
              <div padding>
                  <button ion-button block type="submit" [disabled]="!meterForm.valid">ตรวจสอบผู้ใช้น้ำ</button>  
              </div> 
      
            </ion-list> 
          </form>
          <!-- <ion-list>
          <ion-col *ngFor="let prod of data" class="favCol">
            <div>
                <p>
                  {{prod.name}}
                  {{prod.lastname}} 
                </p>   
            </div>
          </ion-col>
      </ion-list>  -->

      <form novalidate [formGroup]="addForm" (ngSubmit)="addmeter()" *ngFor="let prod of data">
        
        <ion-list>
            
            <ion-item>
                <ion-label stacked>ชื่อผู้ใช้</ion-label>
                <ion-input value="{{prod.name}} {{prod.lastname}}" formControlName="name_last" [readonly]="isReadonly" type="text"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label stacked>Villageid</ion-label>
                <ion-input value="{{prod.house_id}}" formControlName="villageid" [readonly]="isReadonly" type="text"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label stacked>Meter ก่อนหน้า</ion-label>
                <ion-input value="{{prod.total_meter2}}" formControlName="total_meter" [readonly]="isReadonly" type="text"></ion-input>
              </ion-item>
          
            <ion-item>
              <ion-label stacked>meter</ion-label>
              <ion-input formControlName="savemeter" type="text"></ion-input>
            </ion-item>
      
              <div padding>
                  <button ion-button block type="submit" [disabled]="!addForm.valid">บันทึก</button>  
              </div> 
      
            </ion-list> 
          </form>
         
    </ion-content>