page-home {
.a{
    width: 30px; 
    }
    ion-content {
       
        
        .profile-top {
            width: 100%;
            margin: 0;
            .profile-photo {
                padding-top: 16px;
                
                $photoSize: 128px;
                
                img {
                    width: 20em;
                    height: 20em;
                    // border-radius: 50%;
                    border: solid 5px rgba(255, 255, 255, 0.50);
                    margin: 0 auto;
                }
            }
        }
}
}
